.avatars-container {
    .heading {
        color: $black;
        margin-top: 0px;
    }

    .avatars {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .avatar-container {
            .avatar {
                width: 100%;
                display: block;
                margin: 0;
            }
        }
    }
}