.confirmation-container {
    .confirmation {
        background-color: $light-green;
        border: 1px solid $green;
        .icon {
            width: 120px;
        }

        .text {
            color: $black;
            font-weight: 400;
            text-align: center;
            margin-top: 0.5em;
            margin-bottom: 1em;
        }
    }

    &.confirmation-container-warning {
        .confirmation {
            background-color: $light-red;
            border-color: $red;
        }
    }
}