.confirmation {
    &__container--success {
        .confirmation__row {
            background-color: $light-green;
            border: 1px solid $green;
        }

        .confirmation__closeButton {
            @extend .green;
        }
    }

    &__closeButton {
        @extend .gray;
    }

    &__row {
        background-color: $light-red;
        border-color: $red;
    }

    &__icon {
        width: 120px;
    }

    &__text {
        color: $black;
        font-weight: 400;
        text-align: center;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
}