.dashboard {
    &__tradeRequest {
        margin-bottom: 2rem;
        display: flex;
        &:last-child {
            margin-bottom: 0px;
        }

    }

    &__tradeRequestLink {
        @include tablet-up {
            display: flex;
            align-items: center;    
        }
    }

    &__tradeRequestBooks {
        @include tablet-up {
            margin-left: 2rem;
        }

        @include mobile {
            margin-top: 1rem;
        }

        display: flex;
    }

    &__tradeRequestBookImage {
        height: 80px;
    }

    &__tradeRequestBookImageContainer {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        &:nth-child(2) {

            &:after {
                content: "";
                background-image: url('../assets/transfer-black.svg');
                background-size: cover;
                background-position: center;
                display: block;
                width: 36px;
                height: 36px;
                order: -1;
                margin-right: 1rem;
            }    
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}