.dashboard {
    &__heading {

    }

    &__columnTitle {
        margin: 0px;
    }

    &__row {
        padding-top: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #999;

        &.active {

            .dashboard__column {

                &--left {

                }

                &--right {
                    .button-container {
                        display: none;
                    }
                }
    
                &--hidden {
                    display: block;

                    .dashboard__columnTitle {
                        margin-top: 0px;
                    }
                }
            }
        }

        .books {

            img {
                &.is-selected {
                    border-color: $red;
                }
            }
        }

        .book-container {
            display: flex;
            align-items: center;
            animation: fade-in 600ms ease forwards;
        }

        .user-book {
            width: 100%;
            position: relative;

            &:hover {
                .remove-icon-container {
                    opacity: 1;
                }

                .book__layer {
                    opacity: 1;
                }
            }
        }

        .remove-icon-container {
            position: absolute;
            color: $red;
            font-size: 2rem;
            right: 5%;
            top: 5%;
            width: 18%;
            max-width: 20px;
            z-index: 10;
            opacity: 0;
            transition: 300ms opacity ease;
            cursor: pointer;
        }

        .remove-icon {
            width: 14px;
            height: 14px;
        }

        .book__image {
            width: 100%;
        }
    }

    &__column {
        transition: width 400ms ease;

        &--left {
            .dashboard__columnTitle {
                transition: transform 400ms ease;
                transform: none;
            }
        }

        &--right {
            .button-container {
                margin-top: 1em;
                display: flex;
                justify-content: flex-end;
            }
        }

        &--hidden {
            width: 0%;
            display: none;
            transition: width 400ms ease;

            .button-container {
                margin-top: 1rem;
                display: flex;
                justify-content: flex-end;
            }

            .button {
                margin-right: 1rem;
                &:last-child {
                    margin-right: 0px;
                }
            }

            .add-books-button {
                min-width: 140px;
            }
        }
    }
}

@include mobile {
    .dashboard {
        &__row {
            .books {
                @include grid(3, 0.25rem);
            }

            &.active {
                .dashboard__column {
                    &--hidden {
                        margin-top: 2rem;
                        width: 100%;
                    }
                }
            }
        }

        &__column {
            &--left {
                margin-bottom: 1rem;
            }

            &--hidden {
            }
        }
    }
}

@include tablet-up {
    .dashboard {
        &__row {
            display: flex; 
            
            .books {
                @include grid(5, 1rem);
            }

            &.active {
                .dashboard__column {
                    &--right {
                        width: 30%;

                        .books {
                            @include grid(3, 0.5rem);
                        }  
                    }

                    &--hidden {
                        width: calc(70% - 4rem);
                    }

                    &--left {
                        width: 0%;

                        .dashboard__columnTitle {
                            transform: rotate(-90deg) translate(-75px, -20px);
                        }
                    }
                }
            }
        }

        &__column {
            &--right {
                width: 78%;  
            }

            &--left {
                width: 22%;
            }

            &--hidden {
                margin-left: 4rem;

                .books {
                    @include grid(5, 0.25rem);
                }
            }
        }
    }
}