.modal {
    &__container {
        z-index: 10000;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.85);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__row {
        max-width: 500px;
        width: 100%;
        padding-top: 3em;
        padding-bottom: 3em;
        padding-left: 3em;
        padding-right: 3em;
        background-color: white;
        border: 1px solid $light-gray;
        border-radius: 4px;
        color: $black;
        box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        margin-right: 1rem;
        &:last-child {
            margin-right: 0px;
        }

        align-self: stretch;
    }

    &__buttonsContainer {
        display: flex;
    }
}