.search-container {
    position: relative;
    font-size: 1rem;
    form {
        align-self: center;
        display: flex;
        align-items: center;
        position: relative;
        .input-container {                            
            input {
                width: 0px;
                border-radius: 0;
                padding-top: 0.375em;
                padding-bottom: 0.375em;
                padding-left: 2em;
                padding-right: 0px;
                opacity: 0;
                transition: all 300ms ease;
            }
        }

        .search-icon {
            position: absolute;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $black;
            i {
                font-size: 1.3em;
            }
        }
    }

    &.active {
        form {
            .input-container {
                input {
                    width: 300px;
                    padding-left: 2.5em;
                    padding-right: 0.375em;
                    opacity: 1;
                }
            }

            .search-icon {
                width: 2.5em;
            }
        }
    }

    &.black {
        form {
            .input-container {                            
                input {
                    color: white;
                    background-color: $black;
                    border: 1px solid white;
                }
            }

            .search-icon {
                color: $light-gray;
            }
        }
    }
}