.slider {
    &__container {
        margin-top: 3.5em;
        transition: opacity 1000ms ease;

        &.active {
            .slick-slide {
                transform: scale(1.0) translate3d(0px, 0px, 0px) !important;
            }

            .slide__info {
                transform: scale(1) translate3d(0px, 0px, 0px) !important;
                padding: 1em 1em 0.5em;
                font-size: 0.8em;
            }
        }

        &.loading {
            opacity: 0;
        }
    }

    &__slidesContainer {
        background-color: black;
        padding-left: 3em;
        padding-right: 3em;
    }

    &__slides {
        position: relative;
        .slick-list {
            overflow: visible;
        }

        .slick-slide {
            transition: $transition;
            backface-visibility: hidden;
            transform: scale(1.0) translate3d(0px, 0px, 0px);
        }

        &:hover {
            .slick-slide {
                transform: scale(1.0) translate3d(-12.5%, 0px, 0px);
            }
        }

        .slick-slide:hover ~ .slick-slide {
            transform: scale(1.0) translate3d(12.5%, 0px, 0px);
        }

        .slick-slide:hover {
            transform: scale(1.25) translate3d(0px, 0px, 0px);
            .slide__info {
                transform: scale(0.8) translate3d(0px, 0px, 0px);
            }
        }
    }

    &__arrowContainer {
        position: absolute;
        top: 0px;
        width: 3em;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        cursor: pointer;

        &--prev {
            right: 100%;
        }

        &--next {
            left: 100%;
        }

        &:hover {
            .slider__arrow {
                transform: scale(1.25) translate3d(0px, 0px, 0px);
            }
        }
    }

    &__arrowWrapper {
        transform: scale(1, 1.125);
    }

    &__arrow {
        font-size: 4em;
        transform: scale(1.0) translate3d(0px, 0px, 0px);
        transition: transform 300ms ease;
    }
}

.more-info-container {
    background-image: repeating-linear-gradient(0deg,
    $light-black 0%,
    $light-black 30%,
    black 100%);

    padding-top: 2em;
    position: relative;
    .more-info-row {
        display: flex;
        position: relative;    
        .left {
            flex: 1 1 0px;
            animation: slide-in 300ms ease-out;
            .title {
                font-family: 'Fjalla One', sans-serif;
                text-transform: uppercase;
                font-size: 1.25em;
                letter-spacing: 0.1em;
                margin-top: 0;
                margin-bottom: 0;
            }

            .authors {
                margin-top: 0;
                font-style: italic;
                margin-bottom: 0.75em;
                font-size: 0.875em;
            }

            .subtitle {
                font-size: 1em;
                margin-top: 0.25em;
                margin-bottom: 0.25em;
            }

            .description {
                font-size: 0.875em;
                overflow: hidden;
                .toggle {
                    display: flex;
                    justify-content: center;
                    font-size: 2em;
                    color: $red;
                    transform: scale(1.125, 1);
                }

                &.shortened {
                    .toggle {
                        transform: scale(1.125, 1) rotate(180deg);
                    }
                }
            }

            .bottom {
                margin-top: 1em;
                font-size: 0.875em;
                font-style: italic;
                .note {
                    margin-bottom: 0.25em;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .request {
                    display: flex;
                    align-items: center;
                    margin-top: 3em;
                }

                .userPreview__container {
                    margin-right: 1em;
                }
            }
        }

        .right {
            @include mobile {
                display: none;
            }

            flex: 1 1 0px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .book__image {
                width: 180px;
            }
        }
    }

    .close-icon {
        position: absolute;
        top: 0;
        right: 1em;
        font-size: 2.5em;
        cursor: pointer;
    }
}

