.trade {
    &__heading {
        margin: 0px;
        display: flex;
        align-items: center;
    }

    &__headingContainer {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 0rem;
    }

    &__messageContainer {
        margin-top: 2rem;

        @include tablet-up {
            display: flex;
            align-items: center;      
        }
    }

    &__progressLineContainer {
        flex: 1 1 0px;

        margin-left: 2rem;
        margin-right: 2rem;
        @include tablet-up {
            margin-left: 4rem;
            margin-right: 4rem;    
        }

        @include mobile {
            margin-top: 4rem;
        }
    }

    &__progressLine {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__progressPath {
        position: relative;
        flex: 1 1 0px;
        height: 2px;
        display: flex;
        justify-content: flex-end;

        &:first-child {
            flex: 0 0 auto;
            &__progressAction {
                position: absolute;
                bottom: 100%;
                left: 50%;
                transform: translate(-50%, -1rem);
            }
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: $green;
            transform-origin: left;
            transform: scale(0);
            transition: transform 300ms ease;
        }

        &.faded {
            &:after {
                opacity: 0.25;
            }
        }

        &.active, &.faded {
            &:after {
                transform: scale(1);
            }
        }
    }

    &__progressNote {
        position: absolute;
        width: 80%;
        left: 50%;
        font-size: 12px;
        color: $green;
        text-align: center;
        transform: translate(-50%, 1em);
    }

    &__progressPoint {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $green;
        transform: translateY(-4px);
    }

    &__progressAction {
        position: absolute;
        bottom: 100%;
        left: 100%;
        transform: translate(-50%, -1rem);
        font-size: 14px;
        @media screen and (max-width: 400px) {
            font-size: 12px;
        }
    }

    &__message {
        padding: 2rem;
        background-color: white;
        line-height: 1.4;
        flex: 0 0 300px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    }

    &__statusBlock {
        font-size: 1rem;
        pointer-events: none;
        margin-left: 1rem;
        filter: grayscale(100%);
        transition: filter 600ms ease;

        &.lastAction,
        &.initiated,
        &.proposed,
        &.accepted,
        &.completed {
            filter: grayscale(0%);
            @extend .green;
        }
    }

    &__users {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #999;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__books {
        display: flex;
    }

    &__booksWrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 2rem;
    }

    &__booksContainer {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__partnerBooksContainer {
        justify-content: flex-end;
    }

    &__books {
        align-items: center;
        &--grid {
            @include grid(5, 0.5rem);
        }

        &--flex {
            display: flex;
            .trade__bookContainer {
                margin-right: 0.5rem;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

    &__userBookContainer {
        cursor: auto;
        .selectable-box {
            filter: grayscale(0%);
        }
    } 


    &__buttonContainer {
        margin-top: 2rem;

        @include tablet-up {
            display: flex;
            justify-content: flex-end;    
        }
    }

    &__button {

        @include tablet-up {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0px;
            }    
        }

        @include mobile {
            margin-bottom: 0.75rem;
            &:last-child {
                margin-bottom: 0px;
            }    
        }

        &--confirm {
            margin-left: auto !important;
            margin-right: auto !important;
            max-width: 100%;
            white-space: normal;
        }
    }

    &__iconContainer {
        position: relative;
    }

    &__completedIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        width: 50px;
        opacity: 0;
        transition: opacity 400ms ease 600ms;
    }

    &__icon {
        width: 30px;
        @include tablet-up {
            width: 36px;
        }

        filter: grayscale(100%);
        transition: filter 600ms ease, transform 600ms ease 600ms, opacity 600ms ease 600ms;

        &:first-child {
            transform: rotate(180deg);
            margin-bottom: -0.5rem;
            @include tablet-up {
                margin-bottom: -1rem;
            }
        }

        &:last-child {
            margin-top: -0.5rem;
            @include tablet-up {
                margin-top: -1rem;
            }
        }
    }

    &__email {
        color: $blue;
    }

    &__container {
        &.accepted,
        &.declined,
        &.proposed {
            .trade__bookContainer {
                cursor: auto;
                border-color: transparent;
            }    
        }

        &.completed,
        &.declined {
            .trade__icon {
                &:first-child, &:last-child {
                    opacity: 0;
                }
            }
        }

        &.completed {
            .trade__icon {
                filter: grayscale(1%);

                &:first-child {
                    transform: rotate(180deg) translateX(40vw);
                }
    
                &:last-child {
                    transform: translateX(40vw);
                }
            }

            .trade__completedIcon--completed {
                opacity: 1;
            }
        }

        &.declined {
            .trade__completedIcon--declined {
                opacity: 1;
            }
        }
    }
}