.trade {
    &__users {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #999;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__books {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 1rem;
    }

    &__requesterBooks {
        align-items: center;
        &--grid {
            @include grid(5, 0.5rem);
        }

        &--flex {
            display: flex;
            .trade__requesterBookContainer {
                margin-right: 0.5rem;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

    &__requesterBookContainer {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__buttonContainer {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }

    &__button {
        margin-right: 1rem;
        &:last-child {
            margin-right: 0px;
        }
    }

    &__iconContainer {
        position: relative;
    }

    &__confirmedIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        width: 50px;
        opacity: 0;
        transition: opacity 400ms ease 600ms;
    }

    &__icon {
        width: 50px;
        filter: grayscale(100%);
        transition: filter 600ms ease, transform 600ms ease 600ms, opacity 600ms ease 600ms;

        &:first-child {
            transform: rotate(180deg);
            margin-bottom: -1rem;
        }

        &:last-child {
            margin-top: -1rem;
        }
    }

    &__status {
        font-size: 1.125rem;
        vertical-align: middle;
    }

    &__status {
        transition: color 300ms ease;
    }

    &__container {
        &.complete {
            .trade__confirmedIcon {
                opacity: 1;
            }

            .trade__icon {
                filter: grayscale(1%);
    
                &:first-child {
                    opacity: 0;
                    transform: rotate(180deg) translateX(40vw);
                }
    
                &:last-child {
                    opacity: 0;
                    transform: translateX(40vw);
                }
            }

            .trade__status {
                color: $green;
            }
        }
    }
}