// colors
$red: #E10B14;
$red-transparent: rgba(225, 11, 20, 0.1);
$light-gray: #e5e5e5;
$light-gray2: #F1F1F1;
$light-black: #141414;
$black: #020202;
$gray: #808080;
$blue: #0080ff;
$green: #18900F;
$light-green: #E4F3E0;
$light-red: lighten($red, 50%);
$error: #b00500;

$primary: $red;

// breakpoints
$mobile-small: 450px;
$tablet-width: 680px;
$desktop-small: 1030px;
$desktop-large: 1350px;
$desktop-nav-start: 940px;

// rows
$row-width: 1000px;
$row-width-small: 460px;

// transitions:
$ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
$transition: all 400ms $ease-in-out-quad 100ms;