// colors
$red: #E10B14;
$light-gray: #e5e5e5;
$light-gray2: #F1F1F1;
$light-black: #141414;
$black: #020202;
$gray: #808080;
$blue: #0080ff;
$error: #b00500;

$primary: $red;

// breakpoints
$mobile-small: 450px;
$tablet-width: 680px;
$desktop-small: 1030px;
$desktop-large: 1350px;
$desktop-nav-start: 940px;

// rows
$row-width: 1000px;
$row-width-small: 460px;