.home-view {
    background-image: url('../assets/books1.jpg');
    @include gradient( linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)) );
    .site-content {
        .cta-container {
            position: absolute;
            top: 45%;
            transform: translate(0, -50%);
        }
    }
}

.register-view {
    background-image: url('../assets/books2.jpg');
    @include gradient( linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)) );
    .site-content {
        .form-container {
            max-width: $row-width-small;
        }
    }
}

.login-view {
    background-image: url('../assets/books3.jpeg');
    @include gradient( linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)) );
    .site-content {
        .form-container {
            max-width: $row-width-small;
        }
    }
}


.profile-view {
    background-color: $light-gray2;
    .site-content {
        .site-content-inner {
            .column {
                &.left {
                    .form-container {
                        padding-top: 2.5em;
                        padding-bottom: 2.5em;
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }
        
                &.right {
                    padding-top: 2.5em;
                    padding-bottom: 2.5em;
                }
            }
        }
    }

    .site-footer {
        background-color: $black;
    }

    @include tablet-down {
        .site-content {
            .site-content-inner {
                max-width: $row-width-small;
            }
        }
    }

    @include desktop {
        .site-content {
            .site-content-inner {
                display: flex;
                .column {
                    &.left {
                        flex: 5 1 0px;
                        margin-right: 4em;
                    }
            
                    &.right {
                        flex: 4 1 0px;
                    }
                }
            }
        }
    
        .site-footer {
            background-color: $black;
        }
    }
}